In [2]:
# Import packages.
from io import BytesIO
from tensorflow.python.lib.io import file_io
import msgpack
import numpy as np
import pandas as pd

In [3]:
# Read in features and labels.
f = BytesIO(file_io.read_file_to_string('WM-PA-Binary-Data-min-6-votes.bin', binary_mode=True))
data = msgpack.unpack(f, raw=False)

In [4]:
num_examples = len(data)
print(num_examples)

115841

In [5]:
df = pd.DataFrame(data)

In [6]:
transposed_df = df.T

In [7]:
transposed_df.head()

,label,text,idx,rev_id
0,0,"[[this, is, not, creative, .], [those, are, th...","[[14, 9, 16, 3450, 1], [139, 21, 2, 2165, 2892...",37675
1,0,"[[the, term, standard, model, is, itself, less...","[[2, 373, 846, 2004, 9, 558, 452, 635, 97, 8, ...",44816
2,0,"[[true, or, false, the, situation, as, of, mar...","[[350, 28, 505, 2, 903, 20, 5, 1073, 2331, 25,...",49851
3,0,"[[next, maybe, you, could, work, on, being, le...","[[512, 360, 7, 108, 153, 18, 93, 452, 5839, 24...",89320
4,0,"[[this, page, will, need, disambiguation, .]]","[[14, 34, 46, 128, 1732, 1]]",93890

In [8]:
num_attacks = len(transposed_df[transposed_df['label'] == '1'])
num_non_attacks = len(transposed_df[transposed_df['label'] == '0'])
print('Num of examples:', num_examples)
print('Num of attacks:', num_attacks)
print('Num of non-attacks:', num_non_attacks)
print('Label balance:', num_attacks/num_non_attacks * 100)

Num of examples: 115841
Num of attacks: 14205
Num of non-attacks: 101636
Label balance: 13.976346963674288

In [9]:
# TODO:
#
# Length of comments min, max, median, mean, distributions., total and per class.